@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Unica+One&display=swap&subset=latin-ext');

@mixin transition($mls: 200, $type: all) {
  -webkit-transition: $type #{$mls}ms ease-in-out;
  -moz-transition: $type #{$mls}ms ease-in-out;
  -ms-transition: $type #{$mls}ms ease-in-out;
  -o-transition: $type #{$mls}ms ease-in-out;
  transition: $type #{$mls}ms ease-in-out;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin boxShadow($x, $y, $size, $color) {
  -webkit-box-shadow: $x $y $size $color;
  -moz-box-shadow: $x $y $size $color;
  -ms-box-shadow: $x $y $size $color;
  box-shadow: $x $y $size $color
}

@mixin clearBoxShadow() {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none
}

html, body {
  scroll-behavior: smooth;
}

body {
  background-color: #F3F5F6;
  color: #263238;
  font-family: 'Roboto', sans-serif;
}

b,
strong {
  font-weight: 700;
}

.splash-screen {
  background-color: #263238;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  span {
    color: #EAEAE9;
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 1;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
    top: 50%;
    width: 100%;

    img {
      background-color: #fff;
      border-radius: 50%;
      margin: 0 20px 0 0;
      padding: 5px;
    }
  }
}

.page {
  align-items: center;
  background-image: url("../images/header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;

  .page-content {
    color: #F3F5F6;
    text-align: center;

    img {
      @include borderRadius(50%);
      @include boxShadow(0, 5px, 20px, rgba(0, 0, 0, .15));
      height: auto;
      max-width: 200px;
      margin-bottom: 30px;
    }

    .slogan {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 3px;
      line-height: 35px;
      text-align: center;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
      word-spacing: 5px;

      p {
        line-height: 22px;
        margin-bottom: 15px;
        margin-top: 15px;
      }

      span {
        font-weight: 500;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }

      .name {
        color: #E74C3C;
      }

      .title {
        color: #ffffff;
      }

      .lead, a {
        letter-spacing: normal;
      }

      .lead {
        line-height: 30px;
        margin-bottom: 15px;
        margin-top: 30px;
        text-transform: none;
      }

      .cv-buttons {
        align-items: center;
        display: flex;
        justify-content: center;

        .btn {
          margin: 0 10px 0;
          text-shadow: none;
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .page {
    .page-content {
      img {
        @include borderRadius(50%);
        display: block;
        height: auto;
        margin: 0 auto 30px;
        max-width: 150px;
      }

      .slogan {
        display: block;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 30px;
        padding: 0 15px;
        word-spacing: 3px;

        p {
          margin-bottom: 10px;
          margin-top: 10px;
        }

        .name {
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .title {
          color: #ffffff;
          font-weight: 500;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .lead {
          margin-bottom: 10px;
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 425.98px) {
  .page {
    .page-content {
      .slogan {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 26px;
        padding: 0 15px;
        word-spacing: 3px;

        .name {
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .title {
          color: #ffffff;
          font-weight: 500;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .cv-buttons {
          flex-direction: column;

          .btn {
            display: block;
            margin: 5px 0;
          }
        }
      }
    }
  }
}
